@use '../abstract/colors' as *;
@use '../abstract/breakpoints' as *; 
@use '../abstract/functions' as *;

.img-fluid{
    width:100%;
    height:auto;
}

p + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{
    margin-top:1rem;
}

.text-primary{
    color:$clr-primary;
}
.text-black{
  color:$clr-black
}
.text-center{
    text-align:center;
}
.text-white{
    color:$clr-white;
}
.text-uppercase{
    text-transform:uppercase;
}
.text-uppercase{
    text-transform:uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-underline{
  text-decoration: underline;   
}

.section-header{
    max-width:rem(650);
    margin:0 auto;
}

.section-heading p{
    max-width:rem(500);
    margin-inline:auto;
}

.overflow-hidden{
    overflow:hidden;
}

.img-cover{
    width:100%;
    object-fit:cover;
}
