@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;


.gallary{

}

.img-wrapper{
    position: relative;
    height: 100%;
}
.img-wrapper::after{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color:rgba(0,0,0,0.8);
}
.img-wrapper:hover{
    cursor: pointer;
}

.img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  #overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none; 
    user-select: none; 
    img {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: contain;
      padding: 5%;
      @media screen and (min-width:768px) {
          width: 60%;
      }
      @media screen and (min-width:1200px) {
          width: 50%;
      }
    }
  }

  #nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }






.small-img{
    // content:"";
    // position:absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color:rgba(0,0,0,0.3);
}