@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;


.gallery{
  &--img{
    margin-top: rem(48);

    @include breakpoint-md{
      margin-top: rem(80);
    }
    @include breakpoint-lg{
      margin-top: rem(150);
    }
  }
}

.img-wrapper{
    position: relative;
    height: 100%;

    // img{
    //   transition: all .45s cubic-bezier(.165,.84,.44,1);
    // }
}
.img-wrapper:hover{
    // transform:scale(1.1);
   cursor: pointer;
}

.img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include flex-center;
    opacity: 0;
  }

#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-center;
    z-index: 9999999;
    user-select: none; 

    img {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: contain;
      padding: 5%;
      @include breakpoint-md{
        width: 60%;
      }
      @include breakpoint-xl{
        width: 50%;
      }
    }
  }

#nextButton, 
#prevButton, 
#exitButton {
    color: $clr-white;
    font-size: 1.5em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    @include breakpoint-md{
      font-size: 2em;
    }
  }
  
#exitButton {
    position: absolute;
    top: 15px;
    right: 15px;
}
