@use "../abstract/fonts";
@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;
@use "../abstract/functions" as *;


.hero{
    background-image: url("../../../app//assets/img/home/hero-img.webp");
    @include background-cover;
    background-position: center bottom;
    height: rem(421);
    padding: 0;
    position: relative;
    padding-top:em(80);

    @include breakpoint-md{
        padding-top:em(142);
        height: rem(721);
    }
    @include breakpoint-lg{
        padding-top:em(142);
        height: rem(721);
    }

    &::after{
        content:"";
        position:absolute;
        inset:0;
        width: 100%;
        height: 100%;
        background-image: url("../../../app//assets/img/home/hero-overlay.svg");
        @include background-cover;
        background-position: center bottom;
    }
    &__container{
        position: absolute;
        z-index: 1;

        @include breakpoint-xxl{
            margin-top: rem(-115);
        }
    }

    &__heading {
        font-family:"Unbounded bold";
    }
    &__btn{
        border:1px solid $clr-white;

        &:hover{
           color: $clr-white;
        }
    }
}

.video{
  
    &__container{
        @include flex-center;
        flex-direction: column;
    }

    &__desc{
        line-height: 1.57;
        text-align: center;
        font-size: rem(20) !important;

        @include breakpoint-md{
            font-size: rem(24) !important;
        }
        @include breakpoint-lg{
            font-size: rem(28) !important;
        }
    }
    &__controls{
        width: rem(109);
        height: rem(109);
        background-color: $clr-white;
        @include border-radius(50%);
    }
    &__wrapper {
        position: relative;
    }
    &__action{
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: rem(65);
        height: rem(65);
        display: block;
        background-color: $clr-white;
        @include flex-center;
        @include border-radius(50%);

        @include breakpoint-md{
            width: rem(80);
            height: rem(80);
        }
        @include breakpoint-lg{
            width: rem(109);
            height: rem(109);
        }

        &:hover{
            cursor: pointer;
        }
    }
    &__play{

        &.is-active{
            display: none;
        }
    }
    &__pause{
        display: none;

        &.is-active{
            display: block;
        }
    }
}

.service{

    &__descWrapper{
        padding: em(100) 0 em(100) em(100);
    }
    &__title{
        font-weight: 800;
        font-size: rem(24);
        @include breakpoint-md{
            margin-top: 0;
        }
    }
    &__desc{
        color: $clr-lightgray;
    }
}

.rolfing{

    @include breakpoint-lg{
        background-image: url("../../../app/assets/img/home/rolfing-1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__imgWrapper{
        img{
            display: block;
        }

        @include breakpoint-lg{
            img{
                display: none;
            }
        }
    }

    &__rightContainer{
        background-color: $clr-primary;
        row-gap:em(48);
        padding-block: em(90);

        @include breakpoint-md{
            padding-block: em(118);
            row-gap:em(58);
        }

        @include breakpoint-lg{
            background-image: url("../../../app/assets/img/home/rolfing-bg.webp");
            @include background-cover;
            row-gap:em(68);
            padding-block: em(148);
            background-color: transparent;
            height: rem(658);
        }
    }
    &__desc{
        line-height: 1.75;
        text-align: center;
        text-transform: capitalize;

        @include breakpoint-md{
            text-align:left;
        }
    }
}

.testimonial{

    &__thumbnail-wrapper{
        @include flex-center;
        flex-direction: column;

        @include breakpoint-lg{
            flex-direction: row;
            column-gap: 2.5rem;
        }
    }
    &__thumbnail{
        @include border-radius(50%);
    }
    &__name-wrapper{
        @include flex-column;
        align-items: flex-start;

    }
    &__patient-name{
        font-family:"Unbounded";
    }
    &__desc{
        font-size: rem(20);
    }

    &__thumbnail{
      width: rem(105);
      height: rem(105);
      border:2px solid $clr-primary;
      background-color:$clr-white;
      @include border-radius(50%);

      @include breakpoint-sm{
        width: rem(120);
        height: rem(120);
      }
      @include breakpoint-md{
        width: rem(150);
        height: rem(150);
      }

    }
}

.arrow{
    @include flex-center;
    gap: rem(32);

    &__common{
        width: rem(40);
        height: rem(40);
        border:2px solid $clr-primary !important;
        background-color: $clr-white !important;
        @include border-radius(50%);
        @include transition(all, 0.35s, ease-in-out);

        @include breakpoint-sm{
            width: rem(50);
            height: rem(50);
        }
        @include breakpoint-md{
            width: rem(60);
            height: rem(60);
        }

        &:hover{
            background-color:$clr-primary !important;
            cursor: pointer;
    
            .arrow__svg--path{
                fill:$clr-white;
            }
        }

        svg{
            width: rem(20);

            @include breakpoint-sm{
                width: rem(25);
            }
            @include breakpoint-md{
                width: rem(30);
            }
        }
    }
}

.FAQs{
    &__summary{
        font-size: rem(20);
        font-weight: bold;
    }

    &__bottom{
        background-color: $clr-primary;
        padding: em(85) em(0) em(130) em(0);
        margin-top: -6px;

        @include breakpoint-md{
            padding: em(85) em(0) em(160) em(0);
        }
    }
}

// Accordian start
.accordian{

    &__label{
        color:$clr-white;
        font-size:rem(20); 
        line-height: rem(24);
        font-family:"Unbounded bold";
        font-weight: 800 !important;
        position:relative;
        display: flex;
        padding-block: em(30);
        cursor: pointer;

        &::after{
            content:"\f078";
            font-family: "fontawesome";
            position:absolute;
            right: rem(14);
            @include transition(transform, 0.4s);
        }
    }
    &__content{
        max-height: 0;
        @include transition(all, 0.4s, ease-in-out);
        overflow: hidden;
        color:$clr-white;

        p{
            padding: em(20) em(20) em(20) em(0);
        }
    }
    &__divider{
        height: 1px;
        background-color: $clr-white;
    }
    &__toggle{
        display: none;

        // &:checked{

        //     .accordian__content {
        //         max-height: 100vh;
        //     }

        //     .accordian__label::after{
        //         transform:rotate(180deg);
        //         @include transition(all, 0.4s);
        //     }

        // }
    }
}

.accordian__toggle:checked ~ .accordian__content{
    max-height: 100vh;
}
.accordian__toggle:checked ~ .accordian__label::after{
    transform:rotate(180deg);
    @include transition(all, 0.4s);
}
// Accordian end


.count{
    position:relative;
}
.count::after{
    content:"+";
    position:absolute;
    top: 0;
    // color:white;
    font-size: rem(48);
}
