@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;


.form{
    &__group{
        max-width:100%;
        height: rem(59);
        padding-inline:em(20);
        margin-bottom: rem(16);
        background-color: $clr-white;
        border:1px solid $clr-border;
        @include flex-center-vertical;
        gap:2rem;

        @include breakpoint-md{
            padding-inline:em(40);
            height: rem(59);
        }
        @include breakpoint-lg{
            padding-inline:em(54);
            height: rem(69);
        }

        &.isBorder{
            border:2px solid $clr-secondary;
        }
    
    }
    &__control, &__textarea{
        width: 100%;
        height: 100%;
        border:none;
        outline:none;
        font-size: rem(18);
        color:$clr-black !important;
        font-family:"FutuBK" !important;

        &::placeholder{
            color:$clr-black !important;
            font-family:"FutuBK" !important;
        }
    }
    &__textarea--wrapper{
        height: rem(164) !important;
        width: 100%;
        padding-left: 2.1rem;
        padding-block: 1rem;

        @include breakpoint-md{
            padding-left: 2.8rem;
        }
        @include breakpoint-lg{
            padding-left: 3.2rem;
        }
        @include breakpoint-xl{
            padding-left: 3.6rem;
        }
    }
    &__textarea{
        background: transparent;
        resize:none;
    }
    &__radio-wrapper{
        @include flex-center;  
        margin-top: rem(20) !important;

        @include breakpoint-md{
            margin-top: 0 !important; 
        }
    }
}
input, textarea{
    caret-color: $clr-secondary;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}
input[type="radio"] + label::before,
input[type="radio"] + label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include border-radius(50%);
}

input[type="radio"] + label::before {
    left: 0;
    width: rem(32);
    height: rem(32);
    border: solid 2px $clr-primary;
    background-color: $clr-white;
}
input[type="radio"] + label::after {
    left: 8.3%;
    width: rem(20);
    height: rem(20);
    background-color: $clr-secondary;
    opacity: 0;
    visibility: hidden;
}
input[type="radio"]:checked + label::after {
    opacity: 1;
    visibility: visible;
}

