@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.header{
    padding-block: rem(20);
    @include transition(all, 0.3s, ease);

    @include breakpoint-md{
        padding-block: rem(24);
    }

    &__container{
        @include flex-space-between;
    }

    &__logo-wrapper{
        display:inline-block;
        width: rem(150);
        height: rem(50);
        object-fit: contain;

        @include breakpoint-sm{
            width: rem(214);
            height: rem(78);
        }
    }
    &__svg-icon{
        width: rem(30.646);
        height:12.5;

        @include breakpoint-md{
            width: rem(40.646);
        }
        @include breakpoint-lg{
            width: rem(50.646);
        }
    }

    &__nav{
        position:relative;
        @include flex-space-between;
        column-gap:rem(20);
        padding-top: em(14);

        @include breakpoint-sm{
            column-gap:rem(50);
            padding-top: 0;
        }
    }

    &__btn-nav{
        display: none !important;

        @include breakpoint-lg{
            display: block !important;
        }
    }
    &__phone-icon{
            display: block !important;

        @include breakpoint-lg{
             display: none !important;
        }
    }

    &.sticky{
        position:fixed;
        z-index:9999;
        width:100%;
        background-color: $clr-body;
        box-shadow: 0 2px 5px rgba(57, 63, 72, 0.3);
        @include transition(all, 0.3s, ease);

    }
}

.header-wrapper--mobile{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: $clr-body;
    opacity: 0;
    visibility: hidden;
    transform:translateX(100%);
    @include transition(all, 0.4s, ease-in-out);


    .mobile-nav{
        height: 100vh;
        @include transition(all, 0.4s, ease-in-out);
    }

    .nav__list{
        @include flex-center;
        flex-direction: column;
        align-items: flex-start;
        gap:3rem;
        margin-top: 15%;
        margin-left: rem(80);
        margin-bottom: rem(50);

    }
    .nav__item{
        font-size: rem(18);
        line-height: rem(23);
        position: relative;

        &::before{
            content:"";
            position:absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.8px;
            margin-top: 10px;
            transform:scaleX(0);
            transform-origin:left;
            @include transition(all, 0.4s, ease-in-out);  
            background-color: $clr-primary; 
        }

        &:hover{
            &::before{
                transform:scaleX(1);
            }
        }
    }

    &.is-open{
        opacity: 1;
        visibility:visible;
        transform:translateX(25%);
        @include transition(all, 0.4s, ease-in-out);

        @include breakpoint-sm{
            transform:translateX(50%);
        }
        @include breakpoint-md{
            transform:translateX(50%);
        }
         @include breakpoint-lg{
            transform:translateX(61%);
        }
         @include breakpoint-xl{
            transform:translateX(71%);
        }
    }
}



.burger__wrapper{ 
    width: rem(40);
    @include flex-center;
    @include transition(all, 0.4s, ease-in-out);
    cursor: pointer;

    @include breakpoint-sm{
        width: rem(45);
    }
   
    // .hamburger{
    //     position: relative;
    //     display: inline-block;
    //     top: -6px;
    //     width:rem(30);
    //     height: 2px;
    //     background-color: $clr-black;
    //     @include transition(all, 0.4s, ease-in-out);

    //     @include breakpoint-sm{
    //         width: rem(45);
    //     }

    //     &::before{
    //         content:"";
    //         position:absolute;
    //         top:10px;
    //         left: 0;
    //         display: inline-block;
    //         width: 100%;
    //         height: 100%;
    //         background-color: $clr-black;
    //         @include transition(all, 0.4s, ease-in-out);
    
    //         @include breakpoint-sm{
    //             width: 75%;
    //             left: 0;
    //         } 
    //     }
    //     &.is-open{
    //         top: 0;
    //         @include transform-rotate(135deg);
            
    //         &::before{
    //             transform:rotate(-90deg) translate(5px, 5px);
    //         }
    //     }
        
    // }

    &.is-open{
        top: 0;
        @include transform-rotate(135deg);
    }
}

.overlay{
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    @include transition(all, 0.4s, ease-in-out);

    &.is-active{
        opacity: 1;
        visibility: visible;
    }
}

.close-btn{
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
    margin-left: 65%;
    margin-top: 10%;

    @include breakpoint-sm{
        margin-left: 40%;
    }

    @include breakpoint-md{
        width: 30px;
        height: 30px;
        margin-top: 7%;
    
    }
    @include breakpoint-lg{
        width: 40px;
        height: 40px;
        margin-left: 30%;
        margin-top: 5%;
    }
    @include breakpoint-lg{
        margin-left: 20%;
        margin-top: 3.5%;
    }

}
