@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;


.popup--main{
    margin-block: 4rem;
}
// .popup--container{
//     margin-inline: rem(187);
// }
.img-mask{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index:99999;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
}

.popup{
        position: fixed;
        top: 16%;
        left: 0;
        right: 0;
        z-index:999999;
        // opacity: 0;
        // visibility: hidden;
        display: none;
        @include transition(all, 0.5s ease-in-out);
        border:1px solid $clr-black;
        background-color: $clr-white;
        width: rem(995);
        max-width: 90%;
        margin: 0 auto;
        // position:relative;

    &.is-modal-open{
        opacity: 1;
        visibility: visible;
    }
    &__cancel{
        width: rem(30);
        height: rem(30);
        background-color:$clr-primary--light;
        @include border-radius(50%);
        @include flex-center;
        position: absolute;
        top: -12px;
        right: -12px;
        @include transition(all, 0.4s, ease-in-out);

        &:hover{
            cursor:pointer;
            background-color:$clr-primary;
        }
    }
    &__card-body{
        padding: em(40) em(10) em(80) em(10) !important;

        @include breakpoint-sm{
            padding: em(40) em(30) em(80) em(30) !important;
        }
        @include breakpoint-md{
            padding: em(40) em(60) em(80) em(60) !important;
        }
        @include breakpoint-lg{
            padding: em(40) em(112) em(80) em(62) !important;
        }
    }
}

.stars-wrapper{
    // margin-left: rem(10);
}
.star{
    color:$clr-secondary;
}
.or-text{
    width: 100%;
    text-align: center;
    margin-top: rem(25);
    margin-bottom: rem(9);
    position:relative;
    font-size: rem(18);
    @include flex-center;

    &::before, &::after{
        content: " ";
        position: absolute;
        width: 40%;
        height: 1px;
        display: inline-block;
        background-color: $clr-border;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
}

// .small-img{
//     @include transition(all, 0.5s, ease-in);
// }

// .small-img:hover{
//     cursor: pointer;
//     transform:scale(1.02);
//     -webkit-transform:scale(1.02);
//     -moz-transform:scale(1.02);
//     -ms-transform:scale(1.02);
//     -o-transform:scale(1.02);
// }

// .popup.is-open{
//     opacity: 1;
//     visibility: visible;
// }



 // &__card{
    //     border:1px solid $clr-black;
    //     background-color: $clr-white;
    //     width: rem(995);
    //     max-width:calc(100% - 100px);
    //     height: rem(562);
    //     margin: 0 auto;
    //     position:relative;
    // }