@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/breakpoints" as *;
@use "../abstract/mixins" as *;


.popup--main{
    margin-block: 4rem;
}
.img-mask{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index:99999;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  visibility: hidden;
  backdrop-filter:blur(3px);
  transform:scale(0);
  @include transition(all, 0.5s, ease-out);

  &.is-open{
    opacity: 1;
    visibility: visible;
     transform:scale(1);
  }
}

.popup{
        position: fixed;
        left: 0;
        right: 0;
        top: 30px;
        z-index:999999;
        border:1px solid $clr-black;
        background-color: $clr-white;
        width: rem(995);
        max-width: 90%;
        margin: 0 auto;
        // transform:translateY(-150%);
        transform:scale(0);
        @include transition(all, 0.8s, ease-out);

    &__cancel{
        width: rem(30);
        height: rem(30);
        background-color:$clr-primary--light;
        @include border-radius(50%);
        @include flex-center;
        position: absolute;
        top: -12px;
        right: -12px;
        @include transition(all, 0.8s, ease-out);

        &:hover{
            cursor:pointer;
            background-color:$clr-primary;
        }
    }
    &__card-body{
        padding: em(40) em(10) em(80) em(10) !important;

        @include breakpoint-sm{
            padding: em(40) em(30) em(80) em(30) !important;
        }
        @include breakpoint-md{
            padding: em(40) em(60) em(80) em(60) !important;
        }
        @include breakpoint-lg{
            padding: em(40) em(112) em(80) em(62) !important;
        }
    }
    &__talk-to-btn{
        border:2px solid $clr-primary;
        &:hover{
            color:$clr-primary;
        }
    }
}

.stars-wrapper{
    // margin-left: rem(10);
}
.star{
    color:$clr-secondary;
}
.or-text{
    width: 100%;
    text-align: center;
    margin-top: rem(25);
    margin-bottom: rem(9);
    position:relative;
    font-size: rem(18);
    @include flex-center;

    &::before, &::after{
        content: " ";
        position: absolute;
        width: 40%;
        height: 1px;
        display: inline-block;
        background-color: $clr-border;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
}

.large-image{
    display: none;
    @include breakpoint-md{
        display: block;
    }
}