@use "../abstract/colors" as *;


.swiper-button-next, .swiper-button-prev{
    position: static !important;
    top: 0 !important;
    margin: 0 !important;
    z-index: none !important;
    color:$clr-secondary !important;
}
