
// Colors
$clr-primary:#22b3c6;
$clr-primary--light:#8cd6dd;
$clr-secondary:#ea9a27;
$clr-body:#fcfbf5;
$clr-white:#ffffff;
$clr-hover:#e4e4e1;;
$clr-black:#000;
$clr-lightgray:#414141;
$clr-border:#828282;
$clr-line:#005e83;


// font-family: 'Unbounded', cursive;